@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica Shadow Book'), local('Pragmatica-Shadow-Book'),
        url('PragmaticaShadow-Book.woff2') format('woff2'),
        url('PragmaticaShadow-Book.woff') format('woff'),
        url('PragmaticaShadow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }